@import url('https://fonts.googleapis.com/css2?family=Orbitron');
@import url('https://fonts.googleapis.com/css2?family=Oi');
*{
    font-family: 'Space Mono';
}

body{
    background-image: url(catWhack_bg.png);
    background-size: auto;
    background-repeat:no-repeat;
    overflow-x: hidden;
    overflow-x: scroll;
    background-size:cover;
    width: 100%;
    min-height: 100vh;
    position: fixed;
    z-index: -1;
    margin-bottom: 2rem;
    margin: auto;
}

#game-page{
  margin: auto;

}

.game-stats{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    background-color: purple;
    border: 5px double orange;
    border-radius: 5rem;
    width: 30%;
    height: 100%;
    opacity: 95%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding: 2rem;
    font-family: 'Space Mono';
    font-style: normal;
}


#game-board {
    display: flex;
    width: 600px;
    height: 600px;
    flex-wrap: wrap;
   align-items: center;
   margin: auto;
}

#game-board div {
    height: 200px;
    width: 200px;
    background-image: url(hole_v2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    
}

#game-board div img{
    display: flex;
    justify-content: center;
    margin: auto;
    height: 170px;
    width:170px;
    position: fixed;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    z-index: -1;

}

#userDisplay{
    margin: auto;
    width: 50%;
    font-size: 25px;
    padding: 2rem;
   color: white;
}

h2{
    color: orange;
}

.game-title{
    color:  orange;
    font-family: 'Space Mono';
    font-style: italic;
    font-size: 75px
}

.user-heading{
    color:orange;
}


#game-over{
    display: flex;
    text-align: center;
    background-color: purple;
    border: 5px double orange;
    border-radius: 5rem;
    width: 50%;
    height: 100%;
    opacity: 95%;
    margin: auto;
    margin-top: 5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding: 2rem;
}

#user-page{
    display: flex;
    text-align: center;
    background-color: purple;
    border-radius: 1rem;
    width: 50%;
    height: 100%;
    opacity: 95%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 3px;
    padding-top: 1rem;
    padding: 1rem;
    font-family: 'Space Mono';
    font-style: normal;
    color: white;
}

.description{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Space Mono';
    font-style: normal;
}

.info{
    margin: auto;
    border: 5px double orange;
    background-color: hotpink;
    width: 50%;
    border-radius: 5rem;
    padding: 2rem;
}

.user-input{
    padding: 5px;
    border: 3px double orange;
    border-radius: 3rem;
    font-family: 'Oi';
}

button {
    font-size: 30px;
    display: flex;
    justify-content: center;
    font-weight: 200;
    letter-spacing: 2px;
    padding: 25px 50px 25px;
    outline: 0;
    border: 1px solid white;
    border-radius: 3rem;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
     margin: auto;
     margin-top: 2rem;
     max-width: 80rem;
     color: white;
  }

button:after {
    content: "";
    background-color: orange;
    border-radius: 3rem;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
    text-decoration: none;
  }

button:hover:after {
    top: 0px;
    left: 0px;
    text-decoration: none;
  }



#endDisplay{
    margin: auto;
    font-size: 20px;
   color: white;

}

.end-title{
    font-size: 75px;
    font-style: italic;
}

